<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <style>
      nav {
        font-size: 16pt;
        background-color: #1f6ab5;
        text-align: center;
      }
      nav a {
        padding: 20px;
        text-decoration: none;
        color: white;
      }
      body {
        font-size: 14pt;
        background-color: #d1eaf2;
      }
    </style>
  </head>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/products">Products</a>
    <a href="/subscribe">Subscribe</a>
  </nav>
  <body>
    <h2>About</h2>
    <p>This is the about page, but it's not very informative.</p>
  </body>
</html>
